*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

.app-wrapper{
  margin: 0 auto;
  max-width: 1220px;
  padding:0 10px;
}

.flex-section{
  display: flex;
}

.app-wrapper-content{
  width: 90%;
  background-color: rgb(65, 151, 231);
}



